@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

label {
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    color: black;

    /*my addition*/
    justify-content: center;
    padding: 10px;
}
label > .action > span {
    font-size: 16px;
    font-family: 'Young Serif', serif;
}
input {
    display: none;
}

input+label .action {
    position: relative;
    overflow: hidden;
    display: grid;
}

input+label .action span {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all .5s;
}

input+label .action span.option-1 {
    transform: translate(0px, 0%);
    opacity: 1;
}

input:checked+label .action span.option-1 {
    transform: translate(0px, -100%);
    opacity: 0;
}

input+label .action span.option-2 {
    transform: translate(0px, 100%);
    opacity: 0;
}

input:checked+label .action span.option-2 {
    transform: translate(0px, 0%);
    opacity: 1;
}