/* Smartphones */
 @media (max-width: 768px) {

    #navbar {
      flex-direction: column;
      align-items: center;
    }
  
    #navbar .logo {
      margin-bottom: 0.5rem;
      text-align: center;
      
    }
    #navbar ul {
      padding: 0.5rem;
    } 


 /* Section 1 */

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}     


   
/* footer */

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-col{
    width: 50%;
    margin-bottom: 30px;
}


 @media (max-width: 375px) {

    body{
        width: 108%;
        height: auto;
    }

#navbar{
   padding: 0rem 2rem; 
   /* padding-left: 1rem; */
   
}

}


/* Refresher */
@media screen and (width: 375px), 
    screen and (height: 667px)
        {
            body{
                width: 109%;
                /* height: auto; */
            } 
        
            #navbar{ 
            padding: 0.5rem 2rem;
            /* padding-left: 1rem; */
            
            }
        
            #navbar .logo{
                padding-bottom: 1.5rem;
            }

             .parent{
                display: none;
            }

            .is-hidden{
                display: none;
            } 

            .wrapper{
                /* height: 200vh; */
                padding-left: 2rem;
                padding-right: 2rem;
                padding-top: 0.5rem;
                
             }
             
             
}

@media screen and (width: 412px), 
screen and (height: 914px)  {
    .wrapper{
        /* height: 120vh; */
    }
}

@media screen and (width: 414px), 
    screen and (height: 896px)

{

    .wrapper{
        /* height: 200vh; */
        padding-left: 2rem;
            padding-right: 2rem;
            padding-top: 0.5rem;
    }
}


@media screen and (width: 540px), 
    screen and (height: 720px) {
        .wrapper{
            /* height: 100vh; */
        }
    }
@media screen and (width: 375px), 
    screen and (height: 812px) 
    {

        body{
            width: 100%;
            /* height: auto; */
        }
        .wrapper{
            /* height: 127vh; */
        }
    }

    @media screen and (width: 720px), 
    screen and (height: 540px) {
        .wrapper{
            /* height: 250vh; */
        }
    }


@media screen and (width: 390px), 
    screen and (height: 844px)
    {
            body{
                width: 104%;
            } 

            .wrapper{
                /* height: 135vh; */
            }
    }

 @media (max-width: 600px) {
    .parent{
        display: none;
    }

    .is-hidden{
        display: none;
    }

    .wrapper{
        
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0.5rem;
    }

    @media screen and (width: 393px), 
    screen and (height: 851px)
    {
        body{
            width: 104%;
        }

        .wrapper{
            /* height: 120vh; */
        }
    }


@media screen and (width: 360px), 
  screen and (height: 740px){
    body{
        width: 113%;
    }

    .wrapper{
        /* height: 120vh;   */
   }
   #navbar{ 
    padding: 0.5rem 2rem;
    /* padding-left: 1rem; */
    
    }


  }

  @media screen and (width: 280px), 
  screen and (height: 653px)  {
  body{
      width: 145%; 
   } 

   .wrapper{
      /* height: 140vh; */
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 0.5rem;   
 } 

 #navbar{ 
    padding: 0.5rem 2rem;
    
    }

}

@media screen and (width: 414px), 
  screen and (height: 736px){

    .wrapper{
        /* height: 130vh; */
    }

  }

  /* For the gallery_literature page */
  @media screen and (max-width: 500px) {
    .responsive { 
        padding: 0px 20px;

    }

    .picture {
        padding: 3rem;
        width: 100%;
        height: auto;    
    }
  }

  @media screen and (width: 736px), 
screen and (height: 414px)
{
    .wrapper{
        /* height: 300vh; */
}
} 
 }
 }

 
